<h1>{{myname}} </h1>
{{greet("Saba")}}
<div *ngIf="myInfo">
  hello true
</div>

<div *ngIf="!myInfo">
  hello false
</div>

<div *ngIf="!myInfo; else Elseblock ">
  hello true
</div>

<ng-template #Elseblock>
  hello else block
</ng-template>

<br>
<button (click)="dataInfo=!dataInfo">{{dataInfo?'disbled':'enabled'}}</button>
<br>
Data = {{dataInfo}}

<br>
{{personObject.name}}
{{personObject.age}}
{{personObject.city}}
<br>
 {{customersArray}}
<br>

<ul>
  <li *ngFor="let customer of customersArray">{{customer.name}} {{customer.age}} {{customer.city}}</li>
</ul>
