
<h1>{{myname}} </h1>
<br>
<br>
<button (click)="getProducts()">Get Products</button>
<br>
<table>
  <!-- {{getProducts()}} -->
  <tr>
    <th>Product id</th>
    <th>name</th>
    <th>price</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>

</table>
<br>
{{mydate }}
<br>
{{mydate | date:'d/M/Y'}}
<br>
{{mydate | date:'shortTime'}}
<br>
{{37000|currency:'USD'}}
<br>
{{myJson | json}}
<br>
{{myArrayNum | slice:1:3}}
<br>
<input type="text" name="" [(ngModel)]="someText" >
{{someText}}
{{greet("Saba")}}
<div *ngIf="myInfo">
  hello true
</div>

<div *ngIf="!myInfo">
  hello false
</div>

<div *ngIf="!myInfo; else Elseblock ">
  hello true
</div>

<ng-template #Elseblock>
  hello else block
</ng-template>

<br>
<button (click)="dataInfo=!dataInfo">{{dataInfo?'disbled':'enabled'}}</button>
<br>
Data = {{dataInfo}}

<br>
{{personObject.name}}
{{personObject.age}}
{{personObject.city}}
<br>
 {{customersArray}}
<br>

<ul>
  <li *ngFor="let customer of customersArray">{{customer.name}} {{customer.age}} {{customer.city}}</li>
</ul>


{{sum()}}
<br>
{{printNumber1+printNumber2}}

<br>
<button (click)="onClick1()">Click me</button>
<br>

